section {
  width: 50%;
  margin: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 400%;
  background-color: #d9af62;
  border: 3px solid #734226;
  color: #040d0c;
  border-radius: 20px;
  transition: 0.4s;
}

section:hover {
  transform: translateY(5px);
}

.Form {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 10px;
  padding: 5px;
  background-color: #bf8a49;
  border: 2px solid #f2e857;
  border-radius: 20px;
  color: #040d0c;
  transition: 0.4s;
}

.Form:hover {
  transform: translateY(-5px);
  border: 3px solid #f2e857;
}

.title {
  margin: 10px;
  font-size: 275%;
}

.Form label {
  font-size: 175%;
  margin: 2px 0;
  color: #372012;
}

.input {
  background-color: #f0f0f0;
  color: #040d0c;
  padding: 1em;
  border-radius: 10px;
  border: 2px solid #d9af62;
  outline: none;
  width: 75%;
  height: 10px;
  margin: 3px;
  font-weight: 500;
  transition: 0.3s;
}

.input:hover {
  border: 2px solid transparent;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

button {
  margin: 1rem;
  max-width: 150px;
}

.update {
  background-color: #004eea;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
  display: inline;
}

.update:hover {
  background-color: #1b6fff;
  border: 2px solid #0b182c;
  cursor: pointer;
}

.delete {
  background-color: #cf2300;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
  display: inline;
}

.delete:hover {
  background-color: #e40505;
  border: 2px solid #300000;
  cursor: pointer;
}
